
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 30px;
    background-image: url(https://cdn.pixabay.com/photo/2023/04/10/15/07/cactus-7914007_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.wrapper{
    width: 50%;
    margin: 0 auto;
    background-color: rgb(110, 181, 131);
    opacity: .7;
    border-radius: 5px;
}
h1{
    text-align: center;
    color: rgb(28, 54, 34);
    font-size: 4rem;
    margin-bottom: 30px;
    padding-top: 20px;
    text-shadow: 10px 12px 10px rgb(18, 91, 155);

}
p{
    margin-bottom: 20px;
    padding: 30px 50px;
    background-color: aqua;
    border-radius: 5px;
}